.row.justify-content-center
  .col-8
    %h1.fs-2.mb-4 取引中の出品した商品
    %table.table
      %thead
        %tr
          %th 商品名
          %th 金額
          %th 注文日時
          %th 取引状況
      %tbody
        - @seller_trades.each do |seller_trade|
          %tr
            %td= link_to seller_trade.product.name, seller_users_trade_path(seller_trade)
            %td= number_to_currency(seller_trade.product_price)
            %td= l(seller_trade.confirmed_at)
            %td= trade_status_tag(seller_trade)
