.row.justify-content-center
  .col-8
    %h1.fs-2.mb-4 取引中の注文した商品
    %table.table
      %thead
        %tr
          %th 商品名
          %th 金額
          %th 注文日時
          %th 取引状況
      %tbody
        - @buyer_progressing_trades.each do |trade|
          %tr
            %td= link_to trade.product.name, buyer_users_progressing_trade_path(trade)
            %td= number_to_currency(trade.product_price)
            %td= l(trade.confirmed_at)
            %td= trade_status_tag(trade)
