.row
  - @products.each do |product|
    .col-3.mb-4
      .card
        = link_to product_path(product), class: 'text-decoration-none text-body' do
          .card-body
            .card-title.fs-4= product.name
            %p.card-title.fs-5= truncate(product.description, length: 30)
            .card-text= number_to_currency(product.price)
