.row.justify-content-center
  .col-8
    %h1.fs-2.mb-4 出品履歴
    %table.table
      %thead
        %tr
          %th 商品名
          %th 金額
          %th 注文日時
          %th 取引完了日時
      %tbody
        - @seller_completed_trades.each do |trade|
          %tr
            %td= link_to trade.product.name, seller_users_completed_trade_path(trade)
            %td= number_to_currency(trade.product_price)
            %td= l(trade.confirmed_at)
            %td= l(trade.completed_at)
