.navbar.border-bottom
  .container-fluid
    .d-flex.align-items-center
      .navbar-brand= link_to 'Merukari Clone', root_path, class: 'text-decoration-none'
    %ul.navbar-nav.ms-auto.flex-row.gap-3.align-items-center
      - if user_signed_in?
        %li.nav-item= link_to current_user.name, edit_user_registration_path, class: 'text-decoration-none'
      - else
        %li.nav-item= link_to 'ログイン', new_user_session_path, class: 'nav-link'
      %li.nav-item= link_to '出品', new_users_product_path, class: 'btn btn-danger'
